@model IEnumerable<AplicacionWebProducto.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos Registrados";
}
<h1 style="text-align:center;">Catalogo de Productos</h1>

<table class="table table-hover" style="text-align: center;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
      <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
    </tr>
  </thead>
  <tbody>

   @foreach (var item in Model)
   {

    <tr >
      <th scope="row">
        <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
        <a asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
      </th>
      <td>@Html.DisplayFor(modelItem => item.Name)</td>
      <td> <img src="@item.Image" alt="" width="400px" height="400px"></td>
      <td>S/.@Html.DisplayFor(modelItem => item.Price)</td>
    </tr>

   }
  </tbody>
</table>